body{
  width: 100%;
  max-width: 1920px;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
a:hover{
  color: #00FFE0;
  text-decoration: none;
}
.container{
  max-width: 1300px;
  padding: 30px 10px 60px 10px;
}
.forma div, .Serv, .main, .galleryWork div, .line3 div, .docrow div, .feedback div, .rowNav div{
  padding: 0;
}
.row{
  margin: 0;
}
img{
  width:100%;
  height: 100%;
}
.parts{
  text-align: center;
}
.line{
  height: 3px;
  border: none;
  width: 50px;
  background-color: #FF5977;  
  margin: 0 auto; 
}
.ptitle{
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 40px;
}
.sale, .ServName{
  font-size: 28px;
}
.modal-body input, .sendbttn, .register, .mastername, .info span, .clientText span, .reference, .adress-title{
  font-size: 24px;
}
.ordercall, .slogan, .info p, table{
  font-size: 14px; 
}
/*Navigation and introduction*/
.master{
  height: 900px;
  padding: 0;
  background-image: url(../img/masterfix.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken, overlay;
}
/*Logotype*/
.logo{
  max-height: 42px;
  max-width: 148px;
}
/*Nav panel*/
.navbar{
  padding: 0;
}
.navbar-collapse{
    text-align: center;
}
.nav-link{ 
  color: #FFFFFF;
}
.navbar-toggler{
  width: 35px;
  height: 35px;
  margin-top: 1%;
  padding: 0;
  border: none;
  margin: auto;
}
.navbar-toggler .icon{
  display: block;
  height: 3px;  
  width: 100%;
  background-color: #FFFFFF;
  margin-top:8px;
}
.navbar-toggler .mid{
  background-color: #00FFE0;
  width: 50%;
  margin-left: 25%;
}

/*Call me*/
.call{
  max-height: 45px;
}
.callme{
  max-height: 21px;
  max-width: 155px;
}
.ordercall{
  width: 100%;
  height: 45px;
  max-width: 150px;
  border: 2px solid #00FFE0;
  border-radius: 60px;
  color: #FFFFFF; 
  margin-left: 10px;
  background-color: #00FFE0;
  background-color: rgba(255,255,255,0);
}
.ordercall:hover{  
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  border: none;
}
/*Modal*/
.modal-dialog{
  max-width: 826px;
  height: 826px;
  text-align: center;
}
.modal-dialog .close{
  background-color: #00FFE0;
  width: 30px;
  height: 30px;
}
.modal-content{
  width:100%;
  height: 100%;
  padding: 10%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  border-radius: 50%;  
}
.modal-body{
  width:100%;
  background: #FFFFFF;
  border-radius: 50%; 
  padding-top: 125px;
}
.modal-body u{
  width: 100%;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}
.modalH{
  margin-bottom: 60px;
}
.modal-body input, .sendbttn{
  width: 100%;
  max-width: 420px;
  height: 90px;
  border: 2px solid #00FFE0;
  border-radius: 60px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
}
.modal-body .sendbttn{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  border: none;
} 
/*Button*/
.register{
  width: 100%;
  max-width: 244px;
  height: 75px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  box-shadow: 0 2px 4px #003844;
  border-radius: 60px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  margin-top: 40px;
}
.register:hover{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #77FFFF;
  background-blend-mode: darken, normal;
}
/*Offer*/
.offer_name{
  margin-top: 15%;
}
.blueline{
  width: 46%;
  max-width: 150px;
  height: 3px;
  border: none;
  margin: 0 0 0 1.5em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
}
.mastername{
  font-weight: bold;
  color: #00FFE0;
}
.about{  
  font-weight: bold;
  color: #FFFFFF;
  line-height: 0;
}
.slogan{
  color: #FFFFFF;
  line-height: 0;
}
.sale{
  font-weight: bold;
  color: #00FFE0;
}
/*Advantage*/
.forma{
  margin-top: -200px;
  color: #FFFFFF;
}

.forma .row{
   background-color: #FF5977;
}
.formaimg{
  max-width: 650px;
  max-height: 610px;
}
.section div{
  padding: 10px;
  margin: 7px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.section>div{
  position: absolute; 
  background-color: #00FFE0;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 120px;
}
.section{
  position: relative;
}
.info button{
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.info p{
  margin-top: 1em;
  margin-left: 28%;
  margin-bottom: 3px;
}
/*Service and price*/
.card{
  max-width: 420px;
  max-height: 429px;
  box-shadow: 0 4px 8px rgba(255, 89, 119, 0.5); 
  z-index: 10;
  transition: 2s;
}
.card img{
  max-width: 420px;
  max-height: 429px;
}
.textcard{
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 420px;
  top: 0;
  background-color: #FF5977; 
  border-radius: 1%;
  z-index: 5;
  color: #FFFFFF;
}
.Serv:hover .card{
  z-index: 1;
  transform: rotateY(180deg);
}
.Right{
  left: 13.3px;
}
.Central{
  left: 6.7px;
  right: 6.7px;
}
.ServName{
  position: absolute;
  font-weight: bold;
  color: #FFFFFF;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -.5em auto auto auto;
}
table{
  width: 100%;
  max-width: 400px;
  text-align: left;  
  margin: 10px;
}
td:last-child{
  color: #00FFE0;
  width: 25%;
}
.textcard span{
  font-weight: bold;
}
/*My Works - gallery*/
.btningallery{
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -37.5px auto auto auto;
}
.galleryBig{
  max-width: 640px;
  max-height: 614px;
}
.bigpick{
    text-align: left;
}
.gallery img{
  max-width: 310px;
  max-height: 297px;
}
.gallery{
  text-align: right;
}
.gallery11, .gallery21, .gallery33{
  margin-right: 5px;
}
.gallery31{
  margin-right: 15px;
}
.gallery32{
  margin-right: 10px;
}
.gallery21, .gallery22, .line3{
  margin-top: 20px;
}
/*Feedback*/
.tubeslack{
  max-width: 260px;
  max-height: 260px;
}
.redlack{
  max-width: 200px;
  max-height: 200px;
}
.tubeslack{
  margin-left: -80%;
  margin-top: 50%;
}
.redlack{
  margin-left: auto;
}
/*Karusel*/
.imgborder, .w-img, .d-block{
    border-radius: 50%;
}
.imgborder{
  position: relative;
  height: 201px;
  width: 201px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  margin: 64px 16px 64px 34px;
  float: left;
}
.w-img {
  position: absolute;
  width: 181px;
  height: 181px;  
  top: 10px;
  left: 10px;
}
.carousel-inner{
  width: 100%
  height: 100%;
  max-width: 640px;
  max-height: 329px;
  box-shadow: 0 2px 8px rgba(255, 89, 119, 0.5);
}
.clientText{
  margin-top: 92px;
  text-align: left;
  min-height: 201px;
  line-height: 27px;
}
.clientText span{
  font-weight: bold;
  text-align: center;
}
.carousel-inds{
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 24px;  
  margin-top: 40px;
}
.carousel-indicators{
  position: static;
  height: 24px;
  margin: 0;
}
.carousel-control-next, .carousel-control-prev{
  position: static;
  width: 24px;
  height: 24px; 
  margin: 0 10px;
}
.carousel-indicators li{
  width: 20px;
  height: 20px; 
  border: solid 2px #00FFE0;
  border-radius: 50%;  
  margin: 0 10px;
}
.carousel-indicators .active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0; 
}
/*Document*/
.doc{
  margin-bottom: 10px;
  text-align: right;
}
.docrow{
  padding-bottom: 30px; 
}
.docrow img{
  max-width: 268px;
  max-height: 370px;  
}
.Doc1{
  margin-right: 57px;
}
.Doc2, .Doc3{
    margin-right: 28.5px;
}
.instabtn{
  width: 100%;
  height: 75px;
  max-width: 244px;  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}
.reference{
  width: 100%;
  height: 100%; 
  background-color: #FFFFFF;
  border-radius: 60px;
  color: #010101;
  padding-top: 23.5px;
}
.reference:hover{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
}
/*Adress*/
.adress{
  position: relative;
  height: 882px;
  padding: 30px 0 0 0;
  background-image: url(../img/map.png);
  background-size: cover;
  background-position: center center;
}
.portret img{
  position: absolute;
  max-width: 224px;
  max-height: 224px;
  border-radius: 50%; 
  top: 170px; 
  left: 16%; 
}
.adress-content{
  position: absolute;
  max-width:500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
  border-radius: 50%;   
  padding: 40px;
  bottom: 152px;
  right: 22%; 
  z-index: 10;
}
.adress-content:hover{
   box-shadow: 0 0 0 48px rgba(0, 255, 224, 0.15);
}
.adress-body{
  width:100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 50%;
  padding: 1em;
}
.adress-title{
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  margin: 34px 0 14px 0;
}
.adrss p{
  margin-right: .5em;
}
.adrss img, .instabtn img{
  max-width: 22px;
  max-height: 22px;
  margin-right: 11px;
}
.adrss{
  display: -webkit-flex; 
  display: flex;
  margin-left: 11.7%;
}
.adrSosial{
  display: -webkit-flex; 
  display: flex;
  margin-top: 20px;
  padding-left: 50%; 
}
.adrSosial img{
  max-width: 24px;
  margin-right: 12px;
}
.insta{
  margin-left: -30px;
}
/*Footer*/
.footer{
  background-color: #FF5977;
  height: 80px; 
  margin-bottom: 0;
  padding: 0;
}
.footer .container{
  padding: 20px 0 0 0;
}
.topbttn{
   position: absolute;
   text-align: center;
   height: 50px;
   width: 50px;   
   right: 52px;
   bottom:-60px; 
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 81, 155, 0.4) 100%), #00FFE0;
   box-shadow: 0 4px 10px rgba(255, 124, 163, 0.5);
   border: none;   
   color: #FFFFFF;    
   font-size: 66px; 
   line-height: 66px; 
}
.topbttn:hover{
  background: #FFFFFF;
}
/*Экстрамалые девайсы («телефоны», < 576px)*/
@media (max-width: 575.98px) { 
  .section>div, .imgborder{
    display: none;
  }
  .adrSosial {
    margin-top: .25em;
  }
  table{
    font-size: 11px;
    line-height: 1em;
  }
  .modal-body input, .modal-body u, .adrss, .textcard span{
    font-size: 14px;
  }  
  .offer_name div, .info, .doc{
    text-align: center;    
  }
  hr{
    margin: auto;
  }  
  .info p{
  margin-left: auto;
  margin-right: auto;
  }
  .Doc1, .Doc2, .Doc3{
    margin-right: 0;
  } 
  .clientText{
    text-align: center;
    margin-top: 0;
  } 
}

/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) { 
 .portret, .emtycol, .footer .container{
  display: none;
 }
}

/*Средние девайсы («таблетки», < 992px)*/ 
@media (max-width: 991.98px) { 
  .forma .img, .portret, .feedback .col-lg{
    display: none;
  }
  .adress-content, .adress-border{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .blueline{
    margin:0 auto;
  }
  .forma{
  margin-top: -70px;
 }
}

/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) { 
  .Right, .Left, .Central{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .navFooter{
    display: none;
  }
}
